html {
    overflow: hidden;
    height: 100%;
    overscroll-behavior: contain;
}

body {
    margin: 0;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
}

#canvas {
    height: 100%;
    width: 100%;
}
